.headerWrapper{
    background-color: bisque;
    /* border-bottom: 1px solid black; */
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
    height: 110px;

}

.introText{
    opacity: 1;
    transition: opacity 1s ease;
}

.introText.fadeOut{
    opacity: 0;

}

.styleButtonRow{
    opacity: 0;
    transition: opacity 1s ease;
}

.styleButtonRow.fadeIn{
    opacity: 1;

}