.pageWrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;  /* Full viewport minimum */
  margin: 0;
  /* pointer-events: none; */
}

.contentWrapper{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    /* margin-top: 30vh; */
    transition: background-color 0.3s ease;
}

.contentWrapper.cvButtonHovered{
  background-color: #ffda6d;
}

/* .contentWrapper:hover {
  background-color: #ffe96c;  } 
*/

.hoverMeText{
    margin-top: 15px;
}

.timeLineWrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}